nav{
    background: orangered;
    position: relative;
    margin-bottom: 5px;
}
nav ul{
    padding-top: 0;
    padding-left: 0;
    margin: 0;
    list-style: none;
    height: 40px;
    z-index: 1;

}

/* nav ul li{
    position: relative;
    float: left;
    text-align: center;
    padding: 0 15px;
} */
nav>ul>li{
    position: relative;
    float: left;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 0 22px;
    line-height: 40px;
    display: block;
    transition: transform 0.3s ease, color 0.3s ease;
    /* font-variant: small-caps; */
}
nav ul li:hover{
    background: #ffa353;
    
}
nav>ul>li>a:hover{
    transform: scale(1.1);
    /* color: darkgrey; */
}

nav ul>li:hover>ul{
    display: block;
}
ul.vmenu{
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
    position: absolute;
    display: none;
    background-color: yellow;
}
ul.vmenu li{
    margin-top: 0px;
    border-top: solid 1px #FFF;
    position: relative;
    width: 250px;
}
ul.vmenu li a{
    display: block;
    line-height: 40px;
    /* border-bottom: 1px dotted orangered; */
    text-decoration: none;
    /* font-variant: small-caps; */
    /* color: yellow; */
    /* margin-left: 15px; */
    background-color: #5F0F1E;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
    /* transition: transform 0.3s ease, color 0.3s ease; */
    /* width: 100%;*/
}
ul.vmenu a:hover{
    background-color: #ffa353;
    font-weight: bolder;
    color: #FFF;
}
ul.vmenu li>ul{
    position: absolute;
    margin-left: 245px;
    width: 300px;
    color: orangered;
    top: 0px;
    visibility: hidden;
    list-style: none;
    padding: 0;
}
ul.vmenu li>ul li{
    border-bottom: solid 1px #FFF;
}
ul.vmenu li:hover>ul{
    visibility: visible;
}
nav .chao{
    widows: 75px;
    position: absolute;
    right: 25px;
    top: 0;
}
nav .tim{
    text-align: center;
    width: 75px;
    height: 40px;
    color: #FFF;
    background: #3CF;
    border: 1px solid #FFF;
    margin-right: 15px;
    line-height: 40px;
}
nav .tim:hover{
    color: #FFF;
    background: #000;
}



/*css danh sách món khai vị */

